{% extends 'dynamic_models/base.html' %}
{% load dynamic_tags %}

{% block content %}
  <div class="row">
    <div class="four columns">
      {% dynamic_tabs %}
    </div>
    <div class="eight columns">
      <table id="model_list">

      </table>
    </div>
  </div>

  {% verbatim %}

    <script id="modelHead" type="text/html">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
    </script>

    <script id="modelBody" type="text/html">
      {{#fields}}
      <tr>
        <td>{{name}}</td>
        <td>{{paycheck}}</td>
      </tr>
      {{/fields}}
    </script>

  {% endverbatim %}

{% endblock %}
